[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DBpower"]
	path = DBpower
	url = https://github.com/cran/DBpower
[submodule "GBJ"]
	path = GBJ
	url = https://github.com/cran/GBJ
[submodule "ICSKAT"]
	path = ICSKAT
	url = https://github.com/cran/ICSKAT
[submodule "csmGmm"]
	path = csmGmm
	url = https://github.com/cran/csmGmm
[submodule "reconstructKM"]
	path = reconstructKM
	url = https://github.com/cran/reconstructKM
